flows.json
[{"id":"11a7194c.f9a217","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eabf198b.e0d188","type":"ui_form","z":"11a7194c.f9a217","name":"","label":"","group":"c60a7aa.8a79588","order":2,"width":0,"height":0,"options":[{"label":"BMI","value":"a","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"b","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"c","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"d","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Country","value":"g","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"h","type":"number","required":true,"rows":null},{"label":"GDB","value":"i","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"j","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"k","type":"number","required":true,"rows":null},{"label":"Measles","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Schooling","value":"o","type":"number","required":true,"rows":null},{"label":"Status","value":"p","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"q","type":"number","required":true,"rows":null},{"label":"Year","value":"r","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"s","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"t","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["53f2bf2e.bfea8"]]},{"id":"53f2bf2e.bfea8","type":"function","z":"11a7194c.f9a217","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n//following are required to receive a token\nvar apikey=\"vPn5EDq-vwGCqQgHjRydg6FLI34qUntLBvyLkg_rlvr_\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["9654df8c.851f"]]},{"id":"c052cef2.7e16f","type":"http request","z":"11a7194c.f9a217","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e22bf587-f0d1-4598-a3ff-7c36e45eecc9/deployments/a87d9ffe-1c08-4029-b17d-d7b9e71da255/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["a50f8d47.ed59"]]},{"id":"c69474aa.a204a8","type":"debug","z":"11a7194c.f9a217","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":240,"wires":[]},{"id":"a50f8d47.ed59","type":"function","z":"11a7194c.f9a217","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["c69474aa.a204a8","d0818567.36cf38"]]},{"id":"f556c32d.a4bf8","type":"function","z":"11a7194c.f9a217","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e22bf587-f0d1-4598-a3ff-7c36e45eecc9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"BMI\", \"HIV/AIDS\", \"thinness  1-19 years\", \"thinness 5-9 years\",\n       \"Adult Mortality\", \"Alcohol\", \"Country\", \"Diphtheria\", \"GDP\",\n       \"Hepatitis B\", \"Income composition of resources\", \"Measles\", \"Polio\",\n       \"Population\", \"Schooling\", \"Status\", \"Total expenditure\", \"Year\",\n       \"infant deaths\", \"percentage expenditure\", \"under-five deaths \"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["c052cef2.7e16f"]]},{"id":"9654df8c.851f","type":"http request","z":"11a7194c.f9a217","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["f556c32d.a4bf8"]]},{"id":"d0818567.36cf38","type":"ui_text","z":"11a7194c.f9a217","group":"c60a7aa.8a79588","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":920,"y":360,"wires":[]},{"id":"c60a7aa.8a79588","type":"ui_group","z":"","name":"Machine Learning Model","tab":"11eec3a.b19983c","order":1,"disp":true,"width":"6","collapse":false},{"id":"11eec3a.b19983c","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]